@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background-image: url("http://www.eastfacesoftware.com/assets/images/features-1.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 600px;
}
